* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.inputs {
  padding: 0px 0px 0px 10px;
}

.buttons {
  padding: 3px 10px;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 3px;
  cursor: pointer;
}
.buttons:hover {
  background-color: #aaa;
}

.locationDiv {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 10px;
}
.locationDiv .changeLocationDiv {
  gap: 15px;
  padding: 10px;
  border: 2px solid #000;
}
.locationDiv .changeLocationDiv .locationButtonDiv {
  justify-content: center;
  gap: 10px;
}
.locationDiv .changeLocationDiv .locationInputsDiv,
.locationDiv .changeLocationDiv .locationInputsForm {
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}
.locationDiv .changeLocationDiv .locationInputsDiv .labels,
.locationDiv .changeLocationDiv .locationInputsForm .labels {
  display: block;
}
.locationDiv .changeLocationDiv .locationInputsDiv .inputs,
.locationDiv .changeLocationDiv .locationInputsForm .inputs {
  float: right;
  width: 40vw;
  max-width: 145px;
}
.locationDiv .changeLocationDiv .locationInputsDiv .resultsList,
.locationDiv .changeLocationDiv .locationInputsForm .resultsList {
  margin: 5px 0px;
}
.locationDiv .changeLocationDiv .locationInputsDiv .resultsList .searchResult,
.locationDiv .changeLocationDiv .locationInputsForm .resultsList .searchResult {
  background-color: #ddd;
  border: 1px solid #000;
  margin: -1px 0px;
  padding: 0px 0px 0px 15px;
  list-style-type: none;
  width: 100%;
  cursor: pointer;
}
.locationDiv .changeLocationDiv .locationInputsDiv .resultsList .searchResult:hover,
.locationDiv .changeLocationDiv .locationInputsForm .resultsList .searchResult:hover {
  background-color: #aaa;
}

.currentWeatherDiv {
  background-color: white;
  margin: 15px 3%;
  border: 1px solid #000;
  padding: 10px;
}
.currentWeatherDiv .resultsContainer {
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}
.currentWeatherDiv .resultsContainer .currentResultCard {
  border: 1px solid #000;
  width: 30%;
  min-width: 90px;
  height: 70px;
  padding: 10px;
}
.dailyAndHourlyResultsDiv {
  margin: 15px 3%;
  border: 1px solid #000;
  padding: 10px;
}
.dailyAndHourlyResultsDiv .dailyResultsDiv .resultsContainer {
  flex-wrap: nowrap;
  overflow: auto;
  gap: 10px;
  width: 100%;
  padding: 0px 10px;
}
.dailyAndHourlyResultsDiv .dailyResultsDiv .resultsContainer .dailyResultsCard {
  border: 1px solid #000;
  padding: 10px;
  min-width: 210px;
  cursor: pointer;
}
.dailyAndHourlyResultsDiv .dailyResultsDiv .resultsContainer .selectedDailyCard {
  border: 3px solid #000;
  box-shadow: 0px 0px 15px 1px #000;
}
.dailyAndHourlyResultsDiv .hourlyResultsDiv .resultsContainer {
  flex-wrap: nowrap;
  overflow: auto;
  gap: 10px;
  width: 100%;
  padding: 0px 10px;
}
.dailyAndHourlyResultsDiv .hourlyResultsDiv .resultsContainer .hourlyResultsCard {
  border: 1px solid #000;
  padding: 10px;
  min-width: 210px;
}

@media only screen and (min-width: 715px) {
  .currentWeatherDiv .resultsContainer {
    width: 100%;
  }
  .currentWeatherDiv .resultsContainer .currentResultCard {
    width: 15%;
  }
}/*# sourceMappingURL=stylesheet.css.map */