$small: 20px;
$medium: 4%;
$large: 8%;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

.flexCol {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.flexRow {
  display: flex;
  flex-direction: row;
  max-width: 92vw;
  width: 100%;
  height: 100%;
}

.wrap {
  flex-wrap: wrap;
}
.noWrap {
  flex-wrap: nowrap;
  overflow: scroll;
}

.flexChild-90 {
  flex-shrink: 0;
  flex-shrink: 0;
  flex-basis: 90%;
}

.flexChild-75 {
  flex-shrink: 0;
  flex-shrink: 0;
  flex-basis: 75%;
}

.flexChild-45p {
  flex-shrink: 0;
  flex-shrink: 0;
  flex-basis: 45%;
}

.flexChild-150x {
  flex-shrink: 0;
  flex-shrink: 0;
  flex-basis: 150px;
}

.flexChild-200x {
  flex-shrink: 0;
  flex-shrink: 0;
  flex-basis: 200px;
}

.small-gap {
  gap: $small;
}
.medium-gap {
  gap: $medium;
}
.large-gap {
  gap: $large;
}

.centerCross {
  align-items: center;
}

.m-m {
  margin: $medium;
}

.spaceEven {
  justify-content: space-evenly;
}

.searchResult {
  background-color: lightgray;
  border: 1px solid black;
  width: 95%;
  margin: 2px auto;
  padding: 5px;
}

.searchResult:active {
  background-color: gray;
}
